.section-title-team {
  margin-bottom: 44px;
}

.team {
  padding-bottom: 82px;

  &__description {
    font-family: $first-font;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: $second-font-color;

    &--indent {
      padding: 0 130px;
      margin-bottom: 90px;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 380px;

      &:hover {
        .overlay {
        visibility: visible;
        opacity: 1;
        box-shadow: 10px 10px #95e1d3;
        }

        .team-list__img {
          transform: translate(-10px, -10px);
        }
      }
    }

    &__img {
      margin-bottom: 30px;
    	position: relative;
      transition: transform 0.2s linear;
    }

    &__title {
      font-family: $first-font;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: $main-font-color;
      margin-bottom: 12px;
    }

    &__description {
      font-family: $second-font;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      text-align: center;
      color: $second-font-color;
    }
  }
}