
$first-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
$decorate-font: 'Kaushan Script', sans-serif;
$nav-color: #fff;
$nav-hover-color: #fce38a;
$main-font-color: #333333;
$second-font-color: #999999;
$section-color: #f38181;